
<!DOCTYPE html>
<html lang="en-US">

<!-- Theme by DivWrap.com -->

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Food Recipies</title>

<link rel="stylesheet" type="text/css" media="all" href="http://themes.divwrap.com/ingredients/wp-content/themes/ingredients/style.css" />

<style type="text/css">

/*=== Font ===*/

body, input, textarea { font-family: "Droid Serif", serif; }

/*=== Utensils ===*/


/*=== Logo ===*/

#logo { width: 303px; }

/*=== Color ===*/

::-moz-selection, ::selection { background: #cd1b15; color: #fff; } 

/* Text */
a,
#logo a:hover,
.title,
.title a,
#menu ul li ul li a:hover,
.menu ul li ul li a:hover,
#recipes .recipe .recipe-info h4 a,
#post-summaries .post .post-title:hover a,
#footer .widget a:hover,
.widget_recent_entries a:hover,
#respond .comment-form-author .required,
#respond .comment-form-email .required,
#comments-title { color: #c74343; }

/* Border */
.btn,
.post-navigation a,
.widget_categories ul li:hover,
#sidebar .widget_nav_menu ul li:hover,
.widget_tag_cloud a:hover,
.advanced_recent_posts_widget ul li img:hover {
  border: 1px solid #9a3c37;
}

/* Background */
.btn,
.post-navigation a,
#header .menu > ul > li:hover,
#header .menu > ul > .current_page_item,
#header .menu > ul > .current-menu-item,
.menu-search div,
.new-recipe,
.widget_categories ul li:hover,
#sidebar .widget_nav_menu ul li:hover,
.widget_tag_cloud a:hover {
  background: #cd1b15;
}

</style>
<link href="http://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet" type="text/css" />



<meta name='robots' content='noindex,nofollow' />
<link rel="alternate" type="application/rss+xml" title="Ingredients &raquo; Feed" href="http://themes.divwrap.com/ingredients/feed/" />
<link rel="alternate" type="application/rss+xml" title="Ingredients &raquo; Comments Feed" href="http://themes.divwrap.com/ingredients/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="Ingredients &raquo; Home Comments Feed" href="http://themes.divwrap.com/ingredients/home/feed/" />
<link rel='stylesheet' id='wpuf-css'  href='http://themes.divwrap.com/ingredients/wp-content/plugins/wp-user-frontend/css/wpuf.css?ver=3.6.1' type='text/css' media='all' />
<link rel='stylesheet' id='wp-advanced-rp-css-css'  href='http://themes.divwrap.com/ingredients/wp-content/plugins/advanced-recent-posts-widget/css/advanced-recent-posts-widget.css?ver=3.6.1' type='text/css' media='all' />
<script type='text/javascript' src='http://themes.divwrap.com/ingredients/wp-includes/js/jquery/jquery.js?ver=1.10.2'></script>
<script type='text/javascript' src='http://themes.divwrap.com/ingredients/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wpuf = {"ajaxurl":"http:\/\/themes.divwrap.com\/ingredients\/wp-admin\/admin-ajax.php","postingMsg":"","confirmMsg":"Are you sure?","nonce":"499a2ed8d6","featEnabled":"","plupload":{"runtimes":"html5,silverlight,flash,html4","browse_button":"wpuf-ft-upload-pickfiles","container":"wpuf-ft-upload-container","file_data_name":"wpuf_featured_img","max_file_size":"10485760b","url":"http:\/\/themes.divwrap.com\/ingredients\/wp-admin\/admin-ajax.php?action=wpuf_featured_img&nonce=9422f2c26c","flash_swf_url":"http:\/\/themes.divwrap.com\/ingredients\/wp-includes\/js\/plupload\/plupload.flash.swf","silverlight_xap_url":"http:\/\/themes.divwrap.com\/ingredients\/wp-includes\/js\/plupload\/plupload.silverlight.xap","filters":[{"title":"Allowed Files","extensions":"*"}],"multipart":true,"urlstream_upload":true}};
/* ]]> */
</script>
<script type='text/javascript' src='http://themes.divwrap.com/ingredients/wp-content/plugins/wp-user-frontend/js/wpuf.js?ver=3.6.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://themes.divwrap.com/ingredients/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://themes.divwrap.com/ingredients/wp-includes/wlwmanifest.xml" /> 
<link rel='next' title='Full Width Page Layout' href='http://themes.divwrap.com/ingredients/full-width/' />
<meta name="generator" content="WordPress 3.6.1" />
<link rel='canonical' href='index.html' />
    <style type="text/css">
        ul.wpuf-attachments{ list-style: none; overflow: hidden;}
        ul.wpuf-attachments li {float: left; margin: 0 10px 10px 0;}
            </style>
    
</head>

<body class="home page page-id-8 page-template page-template-template-home-php">

<!--============== Begin Page ==============-->
<div id="page" class="hfeed">

  <!-- Food Objects -->
  <div class="parsley"></div>
  <div class="eggs"></div>
  <div class="whisk"></div>

  
  <!--======= Begin Content =======-->
  <div id="content" class="inner">
  
    <div id="recipe-wrap">
    
      <!--=== Begin Recipes ===-->
      <div id="recipes">
      
                
      <!-- Latest Recipe -->
        
                 
                    
                                        
        
      <%= render "featured", :recipe => @featured %>
          
                    
      <!-- Older Recipes -->
        <% @recipes.shuffle.each do | rec | %>
              <%= render "recipe", :rec => rec %>
        <% end %>
        
                    
            
            
                   
          
      </div>
      <!--=== End Recipes ===-->
      
      <!--=== Begin View more button ===-->
      <div class="view-more">
        
                
        <a href="" class="btn"><span>View more recipes &#187;</span></a>
        <br/>
        <div align="center">
        <%= will_paginate @recipes%>
      </div>
        
      </div>
      <!--=== End View more button ===-->
    
    </div>
    
  </div>
  <!--======= End Content =======-->


<div class="push"></div>

</div>
<!--============== End Page ==============-->


