<div class="col-lg-4">
  <h3>Contact Information</h3>
  <p><span class="icon icon-home"></span> Some Address 987, NY<br/>
    <span class="icon icon-phone"></span> +34 9884 4893 <br/>
    <span class="icon icon-mobile"></span> +34 59855 9853 <br/>
    <span class="icon icon-envelop"></span> <a href="#"> agency@blacktie.co</a> <br/>
    <span class="icon icon-twitter"></span> <a href="#"> @blacktie_co </a> <br/>
    <span class="icon icon-facebook"></span> <a href="#"> BlackTie Agency </a> <br/>
  </p>
</div><!-- col -->