<div class="col-lg-4">
  <h3>Contact Information</h3>
  <p><span class="icon icon-home"></span> Berlin, Germany<br/>
    <span class="icon icon-phone"></span>  <br/>
    <span class="icon icon-mobile"></span>  <br/>
    <span class="icon icon-envelop"></span> <a href="#"> info@recipe.af</a> <br/>
    <span class="icon icon-twitter"></span> <a href="#"> @smrt_recipes </a> <br/>
    <span class="icon icon-facebook"></span> <a href="#"> Smart Recipes </a> <br/>
  </p>
</div><!-- col -->