<div class="row">
  <div class="col-lg-6 blog-bg">
   
    <div class="col-lg-8 blog-content">
      <h2>We Define Success</h2>
      <% recipe.ingredients.split(",").each do | ing| %>
         <p><%= ing %></p>
      <% end %>
      <br/>

      <img class="img-responsive" src="<%= @recipe.image %>" height="356" width="600" alt="" style=" width: 600px;height: 320px;" />

    </div>


  </div><!-- /col -->



</div><!-- /row -->